#navbar {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar h3:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.bigDiv {
  height: 200px;

  margin: 1px;

  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/250px-Image_created_with_a_mobile_phone.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bigDiv h1,
h4 {
  color: white;
  text-align: center;
}

.search {
  width: 90%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 20px;
  margin-left: 30px;
}

.allContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 10px;
}

.firstdiv {
  height: 190px;
  width: 150px;
  /* makes them visible */
}

.firstdiv img {
  height: 190px;
  width: 150px;
  border-radius: 20px;
}

.firstdiv img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

#footer {
  height: 50px;
  background-color: beige;
  text-align: center;
  padding-top: 10px;
}
