h1 {
  text-decoration: underline;
}

.formdiv {
  background-color: yellow;
  border: 5px;
  border-radius: 2px;
  margin: auto;
  width: 50%;
}

.form {
  background-color: pink;
  width: 70%;
  border: 10px;
  margin: auto;
}

.form p {
  color: red;
}

.formdiv h2 {
  text-align: center;
}
